




/* .contacto {
    width: 600px;
    margin: auto;
    margin-top: 5em;
}
.contacto {
    background-color: #EEBA49;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  .contacto textarea {
    width: 550px;
    height: 150px;
    resize: none;
    /* outline: none; */ /* ????? */
/*   } */

/*   .form-control:focus{
    outline: none;
  } */ 